<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../path/to/flowbite/dist/flowbite.js"></script>
  <script src="../path/to/flowbite/dist/datepicker.js"></script>

  <head>

<body class="mx-32">
    <h1 class="mx-32 mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-4xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
      NOS</span>OTROS</h1>
     
      
        
  <div class="bg-blueGray-50 relative bg-blueGray-50">
    <h1 class="mx-32 mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-2xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
      MAQU</span>INFO</h1>
   
    <div class=" my-10 rounded-md shadow-sm ">
      <div class="container mx-auto max-w-screen-lg">
        
          
          <div class="border-zinc-800 text-left">
            <img class="float-left" loading="lazy" width="390" height="280" src="../mage1.jpeg">
            
            <p class=" p-20 text-slate-500 hover:text-blue-600">Lorem ipsum dolor sit ame
              t consectetur adipisicing elit. Nulla ipsam rerum consequatur explicabo omnis 
              quisquam placeat facere? Eos dolorem, at fugiat iure assumenda accusamus veritatis
              ! Nesciunt odit necessitatibus tenetur. Debitis! 
              </p>
            </div>
          </div>
          <div class=" mx-auto max-w-screen-lg">
            <h1 class=" mb-4 text-3xl text-right font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-2xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
              MISI</span>ÓN</h1>
              <div class="border-zinc-800 text-justify">
                <figure class="wp-block-image size-large"><img class="float-right" loading="lazy" width="400" height="300"  src="../mage2.jpeg"></figure>
                
                <p class=" p-20 text-slate-500 hover:text-blue-600">Lorem ipsum dolor sit ame
                  t consectetur adipisicing elit. Nulla ipsam rerum consequatur explicabo omnis 
                  quisquam placeat facere? Eos dolorem, at fugiat iure assumenda accusamus veritatis
                  ! Nesciunt odit necessitatibus tenetur. Debitis! 
                  </p>
                </div>
              </div>
              <div class="mx-auto max-w-screen-lg">
                <h1 class=" mb-4 text-1xl text-left font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-2xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                  MISI</span>ÓN</h1>
                <div class="border-zinc-800 text-justify">
                  <figure class="wp-block-image size-large"><img class="float-left" loading="lazy" width="400" height="300"   src="../mage1.jpeg"></figure>
                  
                  <p class=" p-20 text-slate-500 hover:text-blue-600">Lorem ipsum dolor sit ame
                    t consectetur adipisicing elit. Nulla ipsam rerum consequatur explicabo omnis 
                    quisquam placeat facere? Eos dolorem, at fugiat iure assumenda accusamus veritatis
                    ! Nesciunt odit necessitatibus tenetur. Debitis! 
                    </p>
                  </div>
                </div>    
                <div class="relative ">
                <div class="container mx-auto max-w-screen-lg h-fit">
            
                  <div id="indicators-carousel" class="static" data-carousel="static">
                    <!-- Carousel wrapper -->
                    <div class="relative h-60 overflow-hidden rounded-lg ">
                         <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                          <img class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" loading="lazy" width="1100" height="699" src="//web.cippuno.org.pe/wp-content/uploads/2021/09/Pagina-Web-CIP-Puno-Obras-2021_SEP_13.jpg" alt="" title="" loading="eager" class="skip-lazy">
                      </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" loading="lazy" width="1100" height="699" src="//web.cippuno.org.pe/wp-content/uploads/2021/09/Pagina-Web-CIP-Puno-Obras-2021_SEP_14.jpg" alt="" title="" loading="eager" class="skip-lazy">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <img class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" loading="lazy" width="1100" height="699" src="//web.cippuno.org.pe/wp-content/uploads/2021/09/Pagina-Web-CIP-Puno-Obras-2021_SEP_15.jpg" alt="" title="" loading="eager" class="skip-lazy">
                        </div>
                    </div>
  

</body>
</html>
<!DOCTYPE html>
<html>
  